<!doctype html>
<Html lang=en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="Estilos.css">

<TITLE>ViaSBikeS</TITLE>

</head>

<Body>

<HEADER>
	<div class="container">
		<dir class="row flex-parent">
		<div class="col-xs-12 col-sm-12 col-md-2">
		<img src="/home/deivis/Documentos/ViaSBikeS_web/img/ViaSBikeS2.jpg.png"border="0" width="150" height="100"></div>
		<div class="col-xs-12 col-sm-12 col-md-2 flex-child"><img src="/home/deivis/Documentos/ViaSBikeS_web/img/ViaSBikeS3.jpg.png"border="0" width="200" height="60">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-1 flex-child"><center><h1></h1></center>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 flex-child"><h5 class="text-info">Necesidad</h5>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-1 flex-child"><h5 class="text-info">Solución</h5>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 flex-child"><center><h5 class="text-info">Funcionamiento</h5></center>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-1 flex-child"><center><h5 class="text-info">Beneficios</h5></center>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-1 flex-child"><center><h5 class="text-info">Creadores</h5></center>
		</div>
	</div>
		
</HEADER>

<!--<HEADER>
	<div class="container">
		<h1>ViaSBikeS</h1></div>
		<center><img src="/home/deivis/Documentos/ViaSBikeS_web/img/ViaSBikeS.png"border="0" width="170" height="120"></center>
</HEADER> 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <h5 class="text-primary">...Inicio...</h5></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <i class = "material-icons"> 
<img src="/home/deivis/Documentos/ViaSBikeS_web/img/baseline_directions_bike_black_18dp.png"border="0" width="25" height="25">
</i>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><center><h5 class="text-primary">¿Donde surge la necesidad?</h5></center><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><center><h5 class="text-primary">¿Cómo soluciona el problema?</h5></center></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><h5 class="text-primary">Funcionamiento</h5></center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><center><h5 class="text-primary">Beneficios</h5></center></a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#"><center><h5 class="text-primary">Creadores</h5></center></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>-->

<div class="container fluid">
	<dir class="row">
		<div class="col-md-7">
		<img src="/home/deivis/Documentos/ViaSBikeS_web/img/inicial.png" class="img-responsive" border="0" width="1100" height="600" alt="">
	</div>
	</dir>

<div class="container fluid">
	<dir class="row">
		<aside class="col-xs-12 col-sm-12 col-md-5">
			<h1>Bogotá la ciudad de la bicicleta</h1>
	<p>En Bogotá hay miles de personas que se transportan diariamente en bicicleta. Pero de la misma manera que aumenta el uso de este medio, se aumenta el hurto de bicicleta. </p>
		</aside>
		<div class="col-xs-12 col-sm-12 col-md-7">
		<img src="/home/deivis/Documentos/ViaSBikeS_web/img/Enbicienbogotá.jpg" class="img-responsive" border="0" width="600" height="400" alt="">
	</div>
	</dir>



<!--
<section class="main row"> 

<article class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
	<img src="/home/deivis/Documentos/ViaSBikeS_web/img/Enbicienbogotá.jpg" class="img-responsive" border="0" width="700" height="500">
</article>
<aside class="col-xs-12 col-sm-12 col-md-5 col-lg-5" >
	<h1>Bogotá la ciudad de la bicicleta</h1>
	<p>En Bogotá hay miles de personas que se transportan diariamente en bicicleta. Pero de la misma manera que aumenta el uso de este medio, se aumenta el hurto de bicicleta. </p>
</aside>
</section>-->


<div class="row">

	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

	<p>Bogotá es líder del uso de la bicicleta en la región, y que representa un fenómeno que genera más de 26.000 empleos directos en la capital.</p>
	</div>
	
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	
	<p>Cada vez son más las mejoras que experimenta la ciudad en este campo. Hoy contamos con 6.921 cupos de cicloparqueaderos habilitados por el Distrito, de los cuales 4.819 están en estaciones y portales de TransMilenio.</p>
	</div>

	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

	<p>Contamos con la red de ciclorrutas más extensa de América Latina.</p>
	</div>

	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

	<p>Sin duda se ha consolidado con un modo de transporte que crece todos los días y que se fortalece con programas como ‘Al Colegio en bici’, ‘el Centro de la Bici’, los ciclopaseos y el trabajo de colectivos.
	</div>

<div class="row">
	<blockquote class="blockquote-reverse">
		<p>“No puedes comprar la felicidad, pero puedes comprar una bicicleta que es lo más parecido”. - Anónimo. ESTE NO FUNCIONÒ blockquote
	</blockquote>
</div>

</div>

<div class="shadow-lg p-3 mb-5 bg-white rounded"><center>¡Vias Seguras Bicicletas Seguras!</center></div>


</center>


</Body>
</Html>
